@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  /* margin: auto;
  width: 50%; */
  text-align: center;
}

.app-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.mid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timer-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bid-tracker {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.bid-tracker-bid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.words-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.words-list-spoiler {
  filter: blur(1rem);
}

.words-list-word {
  text-align: center;
}