.room {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*#######
  Header
#########*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 65px;
  border-bottom: 1px solid;
  padding: 0 16px;
}

.header-title {
  flex-grow: 2;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
}

.header-lobby-id {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.header-popover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*#######
  Content
#########*/

.main-content {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-container {
  background-color: rgb(183, 225, 238);
  border-radius: 16px;
}

.right-container {
  background-color: rgb(225, 172, 172);
  border-radius: 16px;
}

.team-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 180px;
  text-align: center;
}

.team-tracker-header {
  margin-top: 40px;
}

.team-tracker-footer {
  margin-bottom: 40px;
}

.team-join-button, .team-score-button {
  width: 80px;
}

.team-members {
  margin-top: 40px;
  margin-bottom: 40px;
  flex: 1;
}

.mid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 300px;
}

.timer-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.words-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.words-list-container {
  height: 140px;
}

.words-list-reveal {
  padding-top: 60px;
}

.words-list-word {
  text-align: center;
}

.words-list-next {
  margin-top: 30px;
}

.bid-tracker {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.bid-tracker-bid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -20px;
}

.bid-tracker-slider {
  width: 90%;
}