body {
  background: rgb(233, 233, 233);
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.app-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 420px;
  gap: 10px;
}

.home-title {
  margin-bottom: 20px;
}

.name-input, .lobby-id-input, .home-buttons {
  width: 70%;
}

.home-buttons {
  display: flex;
  justify-content: space-evenly;
}

.create-lobby-button, .join-lobby-button {
  width: 120px;
}