body {
  background: rgb(193, 193, 193);
}

.app {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.landing {
  display: flex;
  flex-direction: column;
}

.create-lobby-button {
  margin-top: 20px;
  margin-bottom: 20px;
}